/* Panel wall. Fits any room, any time.
/
/ Wall == Row
/  panel == Span
*/
body {
  margin-left: 8%;
  margin-right: 8%;
  min-height: 100%;
  border-style: solid;
  border-width: 1px;
}

.wall {
  min-height: 3%;
  width: 100%;
  *zoom: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.wall:before,
.wall:after {
  display: table;
  content: "";
  line-height: 0;
}
.wall:after {
  clear: both;
}

[class*="panel"] {
  float: left;
  min-height: 1px;
  border-style: solid;
  border-width: 1px;
}


/* collapsable ------------------ */
/* Greater than 1megapixel screens */
@media (min-width: 1440px) {
 [class*="panel"] {
    margin: .91% .91%;
  }

  .half, .third  {
    display: none;
  }

  .panel1 {
    width: 6.333333%;
  }

  .panel2 {
    width: 14.666%;
  }

  .panel3 {
    width: 23%;
  }

  .panel4 {
    width: 31.333333%;
  }

  .panel5 {
    width: 39.666667%;
  }

  .panel6 {
    width: 48%;
  }

  .panel7 {
    width: 56.333333%;
  }

  .panel8 {
    width: 64.666667%;
  }

  .panel9 {
    width: 73%;
  }

  .panel10 {
    width: 81.333333%;
  }

  .panel11 {
    width: 89.666667%;
  }

  .panel12 {
    width: 98%;
  } 
}

/* Large screens */
@media (min-width: 1280px) and (max-width: 1439px) { 
  [class*="panel"] {
    margin: .90% .90%;
  } 

  .half, .third  {
    display: none;
  }

  .panel1 {
    width: 6.333333%;
  }

  .panel2 {
    width: 14.666%;
  }

  .panel3 {
    width: 23%;
  }

  .panel4 {
    width: 31.333333%;
  }

  .panel5 {
    width: 39.666667%;
  }

  .panel6 {
    width: 48%;
  }

  .panel7 {
    width: 56.333333%;
  }

  .panel8 {
    width: 64.666667%;
  }

  .panel9 {
    width: 73%;
  }

  .panel10 {
    width: 81.333333%;
  }

  .panel11 {
    width: 89.666667%;
  }

  .panel12 {
    width: 98%;
  }
}

/* Mid-range screens */
@media (min-width: 1024px) and (max-width: 1279px) {
  [class*="panel"] {
    margin: .85% .85%;
  }

  .whole, .third  {
    display: none;
  } 

  .panel1 {
    width: 14.666667%;
  }

  .panel2 {
    width: 31.333333%;
  }

  .panel3 {
    width: 48%;
  }

  .panel4 {
    width: 64.666667%;
  }

  .panel5 {
    width: 81.333333%;
  }

  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}

/* Low-range screens and tablets */
@media (min-width: 800px) and (max-width: 1023px) {
  [class*="panel"] {
    margin: .85% .85%;
  } 

  .whole, .third  {
    display: none;
  }

  .panel1 {
    width: 14.666667%;
  }

  .panel2 {
    width: 31.333333%;
  }

  .panel3 {
    width: 48%;
  }

  .panel4 {
    width: 64.666667%;
  }

  .panel5 {
    width: 81.333333%;
  }

  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}

/* tablets and mobile horizontal views */
@media (min-width: 640px) and (max-width: 799px) {
  [class*="panel"] {
    margin: .81% .81%;
  } 

  .whole, .third  {
    display: none;
  }

  .panel1 {
    width: 14.666667%;
  }

  .panel2 {
    width: 31.333333%;
  }

  .panel3 {
    width: 48%;
  }

  .panel4 {
    width: 64.666667%;
  }

  .panel5 {
    width: 81.333333%;
  }

  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}

/* mobile vertical views */
@media (min-width: 322px) and (max-width: 639px) {
  [class*="panel"] {
    margin: .706% .706%;
  }

  .half, .whole  {
    display: none;
  } 

  .panel1 {
    width: 31.333333%;
  }

  .panel2 {
    width: 48%;
  }

  .panel3 {
    width: 64.666667%;
  }

  .panel4, .panel5,  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}

@media (max-width: 321px) {
  [class*="panel"] {
    margin: .706% .706%;
  }

  .half, .whole  {
    display: none;
  } 

  .panel1 {
    width: 31.333333%;
  }

  .panel2 {
    width: 48%;
  }

  .panel3 {
    width: 64.666667%;
  }

  .panel4, .panel5,  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}
