/*===================================================\
||   |  |  Panel |  wall  |   |  |    ||   |  | | /` |
||   |  |    Fits|any room, any time. ||   |  | | (@)|
||   |  |     |  |        |   |  |    ||   |  | | ` ,|
|| Created for|everyone. Please leave these|credits  |
|| for the sake of my ego.|   |  |    ||   |  | |    |
||   |Designed|by Chiperific. | Influenced by | |    |
||Twitter bootstrap's fluid 12+column ||layout| |    |
||   |  |     |  |        |   |  |   ,||   |  | |    | 
||   |  |     |  |  '\    |   |  |  (@||   |  | |    | 
||   |  |     |  |  (@)   |   |__|___`||___|__| |    |
||   |  |     |  |   \'   |   |[Chiperific.com] |    |
||   |  |     |  |        |   |  |    ||   |  | |    | 
\====================================================*/

/* demo content */
body {
  background-image: url('panel_wall_bg.jpg');
  background-attachment: fixed;
  color: white;
}

[class*="panel"] {
  border-width: 1px;
  border-style: solid;
  border-color: white;
}
/* end demo content */

.wall {
  width: 100%;
  *zoom: 1;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: block; /* for easy centering of items */
}

.wall:before,
.wall:after {
  display: table;
  content: "";
  line-height: 0;
}
.wall:after {
  clear: both;
}

[class*="panel"] {
  display: block; /* for easy centering of items */
  float: left;
  min-height: 1px;
}

[class*="panel"] > [class*="panel"] {
  margin: .73% .73%; /* nested panels need smaller margins */
}

/* -~-~-~ Margin management -~-~-~ */
@media (min-width: 1440px) {
 [class*="panel"] {
    margin: .93% .93%;
  }
}

@media (min-width: 1280px) and (max-width: 1439px) { 
  [class*="panel"] {
    margin: .90% .90%;
  } 
}

@media (min-width: 1024px) and (max-width: 1279px) {
  [class*="panel"] {
    margin: .85% .85%;
  }
}

@media (min-width: 800px) and (max-width: 1023px) {
  [class*="panel"] {
    margin: .85% .85%;
  } 
}

@media (min-width: 640px) and (max-width: 799px) {
  [class*="panel"] {
    margin: .81% .81%;
  }
}

@media (max-width: 639px) {
  [class*="panel"] {
    margin: .706% .706%;
  }
}

.no-marg {
  margin: 0px 0px !important
}


/* -~-~-~-~-~ collapsable -~-~-~-~-~-~-~- */
/* ================ Module 1 =================== */
@media (min-width: 1280px) {
  /* F*ck The Width */
  .ftw1 {
    width: 98% !important;
  }

  .half, .third, .half-third  {
    display: none;
  }

  .panel1 {
    width: 6.333333%;
  }

  .panel2 {
    width: 14.666%;
  }

  .panel3 {
    width: 23%;
  }

  .panel4 {
    width: 31.333333%;
  }

  .panel5 {
    width: 39.666667%;
  }

  .panel6 {
    width: 48%;
  }

  .panel7 {
    width: 56.333333%;
  }

  .panel8 {
    width: 64.666667%;
  }

  .panel9 {
    width: 73%;
  }

  .panel10 {
    width: 81.333333%;
  }

  .panel11 {
    width: 89.666667%;
  }

  .panel12 {
    width: 98%;
  } 
}

/* ================ Module 2 =================== */
/* Mid-range screens */
@media (min-width: 640px) and (max-width: 1279px) {
  /* F*ck the Width */
  .ftw2 {
    width: 98% !important;
  }

  .whole, .third, .whole-third  {
    display: none;
  } 

  .panel1 {
    width: 14.666667%;
  }

  .panel2 {
    width: 31.333333%;
  }

  .panel3 {
    width: 48%;
  }

  .panel4 {
    width: 64.666667%;
  }

  .panel5 {
    width: 81.333333%;
  }

  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}

/* mobile vertical views */
@media (max-width: 639px) {
  [class*="panel"] {
    margin: .706% .706%;
  }

  .half, .whole, .whole-half  {
    display: none;
  } 

  /* F*ck the Width */
  .ftw3 {
    width: 98% !important;
  }

  .panel1 {
    width: 31.333333%;
  }

  .panel2 {
    width: 48%;
  }

  .panel3 {
    width: 64.666667%;
  }

  .panel4, .panel5,  .panel6, .panel7, .panel8, .panel9, .panel10, .panel11, .panel12 {
    width: 98%;
  }
}
